{% extends 'ufanisi/base.html' %}
    {%load static %}
    {% block content%}
<!--start-about-->	
	<div class="about">
		<div class="container">
			<div class="about-main">
				<h3>About Us</h3>
				<ol class="breadcrumb">
							  <li><a href="#">Home</a></li>
							  <li class="active">About Us</li>						  
							</ol>
				<div class="about-top">
					<div class="col-md-5 about-top-left">
						<img src="{%static 'ufanisi/images/a1.jpg' %}" class="img-responsive" alt=""/>
					</div>
					<div class="col-md-7 about-top-right">

						<p>We are committed to improving the living standards of members by mobilizing resources through catalytic leadership, innovation, networking and team work. We intend to draw from the expertise, knowledge base and networks of the organization.</p>
						<p>The first stage of our programmes was negotiating and sharing decision making with all stakeholders in building the need for and the type of projects, to encourage active participation and ownership by the community, right from the onset.</p>
						<p>The associations' management committee is constituted by well and democratically elected representatives to ensure issues that are important to the group are constantly addressed as they engage in creative debate and collaboration.</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>	 
	 <!------->
	 <div class="who_are">
	     <div class="container">			
				 <h3>OUR MISSION</h3>
				  <p>To use practical approach to help the members realize their full potential, increase incomes and reduce poverty through partnership with individuals, organizations and donors.</p>
			 
				 <div class="about-list">
					 <ul>
						 <li><a href="">To inculcate the savings and banking habits among members.</a></li>
						 <li><a href="">To secure them from financial, technical and moral strengths.</a></li>
						 <li><a href="">It acts as the forum for members to provide space and support to each other. </a></li>
						 <li class="none"><a href="">To gain from collective wisdom in organising and managing their own finance and distributing the benefits among themselves.</a></li>

					 </ul>		 
				 </div>			 
         </div>
	 </div>
	 <!------->
	 <div class="who_are">
	  <div class="container">
		 <h3 class="team">OUR VISION</h3>
		 <p>Enabling members to look to the future as one filled with opportunity not charity. While it recognizes that this is indeed a broad vision, we are committed to making our own contribution to its achievement and working with others with similar mission. We believe that every member deserves the opportunity to develop their skills, earn income and support themselves.</p>
	 </div>
</div>
</div>
{% endblock %}
