{% extends 'ufanisi/base.html' %}
    {%load static %}
{% load bootstrap3 %}
    {% block content%}
		<!---start-content----->
		<div class="content">
			<div class="container">
				<!---start-contact---->
				<div class="contact">
					<div class="contact-header">
							<h3>Contact</h3>
							<ol class="breadcrumb">
							  <li><a href="#">Home</a></li>
							  <li class="active">Contact</li>						  
							</ol>
				  </div>
				  <div class="contact_head">
					  <p>Your feedback is highly appreciated.Reach us and let us share your experience and meet your expectactions.</p>
				   </div>
		 <div class="contact-grids">	
			  <div class="col-md-6 contact_left">
			 		<h3>Contact Form</h3>


					<form role="form" action="" method="post">
						{% csrf_token %}
						{% bootstrap_form form %}
						<input type="submit" class="btn btn-primary" value="Submit">
					</form>

			 </div>
			 <div class="col-md-6 contact_right">	
				   <h3>Address</h3>
				  <div class="address">
					 <ul>
					 <li>United Mall, Jomo Kenyatta Highway</li>
					 <li>P.O BOX 15452-40100 Kisumu</li>
					 <li>Kenya.</li>
					 <li>Phone:(254) 704028120</li>
					 <li>Fax: (1212) 123 45 678</li>
					 <li>Email:   <a href="mailto:info@unitedufanisi">info@unitedufanisi.org</a></li>
					 <li>Follow on:  <a href="https://web.facebook.com/united.ufanisi/">Facebook</a><a href="#">Twitter</a></li>
					 </ul>
				  </div>					
			 </div>
			 <div class="clearfix"></div>
		 </div>

				  <div class="map">
					 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.729451579922!2d34.76020574983998!3d-0.09839683550994194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182aa48f8fcf5e13%3A0x64d70235d31e818b!2sUnited+Mall!5e0!3m2!1sen!2ske!4v1532455421582" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				  </div>
				<!---End-contact---->		
			</div>
		</div>
		{% endblock %}