{% extends "account/base.html" %}
{%load bootstrap3 %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
   <div class="col-md-5 col-md-offset-3">
     <div class="panel panel-primary" style="margin: 30px;background-color: #ffffff;border: 1px solid black;opacity: 0.9;filter: alpha(opacity=90);">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">{% trans "Sign Up" %}</h3>

                </div>
                <div class="panel-body">
                <div class="alert alert-info fade in">

                <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
                </div>
                    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                      {% csrf_token %}
                      {%bootstrap_form form%}
                      {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                      {% endif %}
                      <button type="submit" class="btn-primary">{% trans "Sign Up" %} &raquo;</button>
                    </form>
                    </div>
         </div>
       </div>

{% endblock %}
